* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0;
}

/* typography */
p {
    font-size: 1.8rem;
}
h2,summary {
    font-size: 2.5rem;
    margin: 0;
}



/* general */
.hero {
    background-color: #EB2222;
    padding: 2em;
    margin-bottom: 6em;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.hero span {
    font-size: 2.5em;
}

.card {
    display: flex;
    margin: 0 auto;
    max-width: 750px;
    min-height: 400px;
    gap: 2em;
    margin-bottom: 2em;
}

.card-img {
    width: 35%;
    /* makes the img cover */
    object-fit: cover;
    border-radius: 10px;
}

.card-info {
    width: 65%;
    align-self: flex-start;
}

summary {
    transition: .5s;
    display: inline-block;
}

summary:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: skyblue;
}